.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.75);
    display: none;
    justify-content: center;
    align-items: center;
    transition: width .2s ease-in;
  }
  
  .modal.is-open{
    display: flex;
  }
  
  .modal-container{
    position: relative;
    padding: 1rem;
    min-width: 320px;
    max-width: 480px;
    min-height: 200px;
    min-height: 600px ;
    overflow-y: auto;
    background-color: white;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    transition: width .2s ease-in;
  }



  
  .modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .cont-descripcion{
    margin-top: 40px;
  }

  /* .modal-container .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .modal-container .footer {
    border-radius: 0.25rem;
    padding: 0 0.5rem 1rem;
    margin: 0 0.5rem 0 0;
    display: inline-flex;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }
