html{
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*::after,
*::before{
  box-sizing: inherit;
}

.contenedor-grid{
margin-top: 50px;
}

h3 {
  margin: 32px 0;
  font-size: 24px;
  color: black;
}

.flex{
  display: flex;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  /* color: #fff; */
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.edit-icon {
  margin-right: 5px;
  /* color: #fff; */
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.watch-icon {
  margin-right: 5px;
  /* color: #fff; */
}

/* .todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(90, 91, 94) 0%,
    rgba(42, 41, 44) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 500px;
} */

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.lista{
  display: contents;
  color: #fff;
}